body {
    background-color: $light-gray;
    font-family: $font-stack;

}

.content {
    background-color: #fff;
    margin: 36px auto;
    padding: 20px 0 20px 0;
}

.flexbox {
    margin: 0 auto;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.max-w {
    max-width: 700px;
}

#start {
    color: $dark-gray;
    margin: auto;
    padding: 0 20px;
    text-align: center;
}