.type {
    border-radius: 10px;
    color: #f8f8f8;
    cursor: pointer;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    height: 38px;
    line-height: 1.9;
    margin: 3px 5px;
    padding: 0 3px;
    text-align: center;
    width: 86px;
}

.bug {
    @include two-tone(#A8B820, #748B0F);
}

.dark {
    @include two-tone(#705848, #484038);
}

.dragon {
    @include two-tone( #6D37F2, #483890);
}

.electr {
    @include two-tone( #F6CE30, #B8A038);
}

.fairy {
    @include two-tone( #DEA5DE, #BD94C6);
}

.fight {
    @include two-tone( #C03028, #484038);
}

.fire {
    @include two-tone( #F08030, #C03028);
}

.flying {
    @include two-tone( #A890F0, #705898);
}

.ghost {
    @include two-tone( #705898, #483850);
}

.grass {
    @include two-tone( #78C850, #588040);
}

.ground {
    @include two-tone( #E0C068, #886830);
}

.ice {
    @include two-tone( #98D8D8, #9090A0);
}

.normal {
    @include two-tone( #A8A878, #705848);
}

.poison {
    @include two-tone( #A040A0, #483850);
}

.psychc {
    @include two-tone( #F85888, #906060);
}

.rock {
    @include two-tone( #B8A038, #886830);
}

.steel {
    @include two-tone( #B8B8D0, #807870);
}

.water {
    @include two-tone( #6890F0, #807870);
}