@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';

$font-stack: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$light-gray: #efefef;
$dark-gray: #bbb;

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($trans) {
  -webkit-transition: $trans;
     -moz-transition: $trans;
      -o-transition: $trans;
          transition: $trans;
}

@mixin two-tone($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 50%, $bottom 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,$top), color-stop(50%,$bottom));
    background: -webkit-linear-gradient(top,  $top 50%,$bottom 50%);
    background: -o-linear-gradient(top,  $top 50%,$bottom 50%);
    background: -ms-linear-gradient(top,  $top 50%,$bottom 50%);
    background: linear-gradient(to bottom,  $top 50%,$bottom 50%);
}

@import "scss/normalize",
        "scss/layout",
        "scss/header",
        "scss/types",
        "scss/queries";